# Python
__pycache__/
*.py[cod]
*.pyo
.Python
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Modèles sauvegardés
outputs/modele_rf.pkl

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Données sensibles
*.env
